*,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #2B283A;
}

.container {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

nav {
  background: #F55A5A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 50px;
  font-size: 14.46px;
}

.nav--title {
  color: #fff;
}

.nav--img {
  margin-right: 7px;
}

.card {
  display: flex;
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 25px;
  padding-top: 25px;
}

.card-img img {
  width: 220px;
  height: 290px;
  border-radius: 8px;
  object-fit: cover;
}

.card-text {
  margin-left: 35px;
  margin-top: 40px;
}

.card-text-location {
  display: flex;
  margin-bottom: 8px;
}

.card-text-location--img {
  width: 10px;
  margin-right: 8px;
}

.card-text-location--name {
  text-transform: uppercase;
  margin-right: 20px;
  letter-spacing: 2.17px;
}

.card-text-location--link {
  color: #918E9B;
}

.card-text--title {
  font-size: 45px;
  margin-bottom: 20px;
}

.card-text--date {
  font-size: 20px;
  margin-bottom: 15px;
}

.card-text--desc {
  line-height: 1.5;
}